* text=auto eol=lf
mandaten-*.csv filter=lfs diff=lfs merge=lfs -text
mandaten-*.ttl filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
